@model FlexiForum.Models.PostViewModels.IndexPostModel


<div class="container body-structure">

    <div class="row postHead">
        <div class="postHeading">
            <span class="postTitle">
                @Model.Title

            </span>


            <span>
                <a class="btn btn-danger" asp-controller="Forum" asp-action="Theme" asp-route-id="@Model.ForumId">Go Back to @Model.ForumTitle</a>
            </span>

        </div>


    </div>




    <div class="row" id="postIndex">
        <div class="col-md-4 postCreatorBox">
            <div class="postCreatorPicture" style="background-image: url(@Model.AuthorPicture); background-size:100%;"></div>
            <a asp-controller="Profile" asp-action="Info" asp-route-id="@Model.AuthorId">

                @Model.AuthorName

            </a>

            <span class="postInfo">Created On: @Model.CreatedOn</span>


            @if (Model.IsAdministrator)
            {
                <span>Admin</span>
            }

        </div>
        <div class="col-md-8 postContentBox">
            @Model.Content

        </div>


    </div>



    <div class="row" id="divider">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">

                <span>

                    <a class="btn-danger" asp-controller="Reply" asp-action="Add" asp-route-id="@Model.Id">Add Reply</a>

                </span>

            </div>
        }
    </div>
    @if (Model.Replies.Any())
    {
        foreach (var r in @Model.Replies)
        {
            <div class="row" id="postIndex">
                <div class="col-md-3 postCreatorBox">
                    <div class="postCreatorPicture" style="background-image: url(@r.AuthorPicture)">
                        <a asp-controller="Profile" asp-action="Info" asp-route-id="@r.AuthorId">
                            @r.AuthorName

                        </a>
                        @if (r.IsAdministrator)
                        {
                            <div>
                                Admin
                            </div>
                        }
                        <span>Replied on: @r.CreatedOn</span>
                    </div>
                    <div class="col-md-8 postContentBox">@r.Content</div>
                </div>
            </div>
        }
    }
    else
    {
        <h4>No Replies</h4>
    }

</div>