@model FlexiForum.Models.ForumViewModels.ForumThemeModel


<div class="container body-structure">

    <div class="row postHead">
        <div class="postHeading">
            <span>Discuss @Model.Forum.Title here! </span>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="goButton">

                    <a asp-controller="Post" asp-action="Create" asp-route-id=@Model.Forum.Id class=" btn btn-danger ">Create Post!</a>

                </span>
            }

            <form asp-controller="Forum" asp-action="Search" method="post">

                <div>

                    <input asp-for="SearchText" type="text" class="searchField" placeholder="Search Forum">

                    <button type="submit" class="btn btn-danger">Search</button>

                </div>
                
                <input asp-for="Forum.Id" name="id" type="hidden" />

            </form>
        </div>
        <div class="section1">
            <div class="forumPic" style="background-image: url(@Model.Forum.Picture); background-size:100%"></div>
            

            <p>
               
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <span><strong>PLEASE <a asp-controller="Account" asp-action="Register">REGISTER</a> TO POST!</strong></span>
                }
            </p>
        </div>
    </div>

    <div class="row forumContent">

        @if (Model.Posts.Any())
        {
            <table class="table-hover table table-bordered" id="simpleTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <span>
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                </span>
                            </td>
                            <td>
                                <a asp-controller="Profile" asp-action="Info" asp-route-id="@post.AuthorId"> @post.Author</a>
                                (@post.AuthorRating) on @post.PostedOn
                            </td>
                            <td>
                                Replies: @post.RepliesNumber
                            </td>
                        </tr>

                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="zeroposts">

                <h2>
                    Still no @Model.Forum.Title posts!
                    Be the first to
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">post</a>

                </h2>
            </div>
        }

    </div>



</div>





